@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 2% 0 0 3%;
    max-width: 100%;
    /* overflow-x: hidden; */
}

/* верхняя иконка */

.sync-black {
    width: 6%;
}

/* описание курсов */
.nav {
    display: flex;
    margin-top: 5%;
    width: 55%;
    width: 45%;
    min-width: 45%;
}


/* блоки курсов */
.courses {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    width: 45%;
}


/* иконки курсов */
.globe,
.clock,
.date {
    margin-right: 7%;
    width: calc(10% + 3 * ((100vw - 320px) / (1440 - 320)));
}

.courses-list {
    width: 65%;
    margin-right: 2%;
    font-size: calc(10% + 10 * ((100vw - 320px) / (1440 - 320)));
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: calc(21px + 60 * ((100vw - 320px) / (1440 - 320)));
    min-width: 50%;
    max-width: 50%;
    margin-top: 2%;
}

.how-to {
    display: flex;
    justify-content: space-between;

}

/* Фотография сидячего оператора с тенью */

.sitting-shade {
    width: calc(200px + 120 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    position: relative;
    margin-right: 5%;
    margin-left: 2%;
}

.sitting-cameraman {
    width: 90%;
    margin-bottom: 10px;
    height: auto;
}

.first-shade {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

}

/* Речь Тарковвского */
.tarkov-center {
    display: flex;
    justify-content: center;
}

.tarkov {
    font-family: 'Roboto Slab', serif;
    font-size: calc(16px + 8 * (100vw / 1440)/ (1440 - 320));
    padding-left: 2%;
    padding-right: 2%;
}

.tarkov-box {
    background-color: #1E4681;
    width: auto;
    max-width: 45%;
    color: white;
    border-radius: 10px;
    margin-top: 10%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.name-tarkov {
    font-size: calc(16px + 8 * (100vw / 1440)/ (1440 - 320));
    text-align: end;
    padding-top: 2%;
    padding-right: 3%;
}

/* Секция О КУРСЕ */
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    font-size: calc(20px + 8 * (100vw / 1440)/ (1440 - 320));

}

.text {
    width: 50%;
    min-width: 35%;

}

.about-courses {
    margin-top: 3%;
    font-size: calc(40px + 5 * (100vw / 1440)/ (1440 - 320));
}

/* Стоячий оператор и тень */

.standing-shade {
    width: calc(200px + 120 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    position: relative;
    margin-right: 5%;
    margin-left: 2%;
}

.stand-cameraman {
    width: 90%;
    margin-bottom: 10px;
    height: auto;
}

.second-shade {
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: -15px;
    z-index: -1;

}

.crane-shade {
    width: calc(150px + 100 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    width: 40%;
    position: relative;
    margin-right: 7%;
    margin-left: 2%;
}

.crane {
    width: 50%;
    height: auto;

}

.last-cameraman {
    margin-top: 5%;
    display: flex;
    position: relative;
}

.last-shade {

    width: 45%;
    position: absolute;
    bottom: -5px;
    left: 20px;
    z-index: -1;

}

.duration {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding-right: 5%;
}

h3 {
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.duration-text {
    width: 65%;
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));

}

.format {
    margin-top: 5%;
}

h2 {
    font-size: calc(18px + 10 * ((100vw - 320px) / (1440 - 320)));
    font-family: 'Roboto Slab', serif;
    margin-left: 1%;
}

.blue-color {
    color: #1E4681;
    font-size: calc(14px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.format-about {
    display: flex;
    gap: 5%;
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));
}

/* Список ЧТО УЗНАЁМ */
.what-list {
    font-size: calc(16px + 10 * ((100vw - 320px) / (1440 - 320)));
    width: 50%;
    margin-bottom: 5%;
}

/* Карточки */

.programm-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1%;
    gap: 3%;
    padding-left: 5px;
    margin-top: 3%;
    align-items: center;
}

.card {
    width: calc(250px + 130 * ((100vw - 320px) / (1440 - 320)));
}

.coll {
    border-radius: 32px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 3%;
}

h4 {
    font-size: calc(24px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.prog-text {
    padding-left: 15px;
    font-size: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
    margin-top: -3px;
    margin-bottom: -5px;
}

.prog-name-date {
    font-size: calc(16px + 10 * ((100vw - 320px) / (1440 - 320)));
    padding-left: 15px;
}

.no-br {
    margin-bottom: -20px;
}

.review-block {
    background: #EFEFEF;
    padding-left: 15%;
    width: 100vw;
    margin-left: -10%;
    padding-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.comment {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 1% 1.5%;
    width: 50%;
}

.review-left {
    margin-left: 0%;
}

.name-fb {
    margin-top: 3%;
}

.logo-avatar {
    width: 50%;
}

.avatar-fb {
    display: flex;
    gap: 3%;
}

/* .comment  */
p {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.logo-avatar img {
    width: 15%;
}

.avatar {
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

/* Блок с ценой */

.cost-block {
    background: #9DC9C8;
    display: block;
    margin-top: -2%;
    margin-left: -7%;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cost-weight {
    font-size: calc(50px + 10 * ((100vw - 320px) / (1440 - 320)));

}

.cost-left {
    margin-left: -0.09%;
}

.cost-lesson-now {
    display: flex;
    width: 50%;
    gap: 5%;
}


.level-now {
    display: inline-block;
    margin-bottom: 5%;
    font-size: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
}

/* Footer */


footer {
    background-color: black;
    margin-left: -7%;
    padding-left: 11%;
    padding-top: 2.5%;
}

@media(max-width:726px) {
    .programm-items {
        flex-direction: column;

        gap: 10%;
        /* margin-right: 10%; */

    }

    .avatar {
        margin-top: 3%;
    }

    .avatar-fb {
        margin-bottom: 3%;
    }

    .logo-avatar {
        padding-top: 200%;
    }

    .review-block {
        /* margin-left: -%; */
    }
}