@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

header {
    margin-left: 3%;
}

main {
    padding-left: 2%;
    margin-left: 3%;
}

/* верхняя иконка */

.sync-black {
    width: 6%;
    padding-left: 2%;
}

/* описание курсов */
.nav {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 714px;
}


/* блоки курсов */
.courses {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    width: 70%;
    max-width: 700px;
}


/* иконки курсов */
.globe,
.clock,
.date {
    margin-right: 3%;
    width: calc(8px + 3 * ((100vw - 320px) / (1440 - 320)));
}

.courses-list {
    width: 65%;
    margin-right: 1%;
    font-size: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: calc(21px + 60 * ((100vw - 320px) / (1440 - 320)));
    min-width: 50%;
    max-width: 50%;
    margin-top: 2%;
}

.how-to {
    display: flex;
    justify-content: space-between;

}

/* Фотография сидячего оператора с тенью */

.sitting-shade {
    width: calc(200px + 120 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    position: relative;
    margin-right: 5%;
    margin-left: 2%;
}

.sitting-cameraman {
    width: 90%;
    margin-bottom: 10px;
    height: auto;
}

.first-shade {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

}

/* Речь Тарковвского */
.tarkov-center {
    display: flex;
    justify-content: center;
}

.tarkov {
    font-family: 'Roboto Slab', serif;
    font-size: calc(16px + 10 * (100vw / 1440)/ (1440 - 320));
    padding-left: 2%;
    padding-right: 2%;
}

.tarkov-box {
    background-color: #1E4681;
    width: auto;
    max-width: 40%;
    color: white;
    border-radius: 10px;
    margin-top: 10%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.name-tarkov {
    font-size: calc(16px + 8 * (100vw / 1440)/ (1440 - 320));
    text-align: end;
    padding-top: 2%;
    padding-right: 3%;
}

/* Секция О КУРСЕ */
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    font-size: calc(20px + 8 * (100vw / 1440)/ (1440 - 320));

}

.text {
    width: 50%;
    min-width: 35%;

}

.about-courses {
    margin-top: 3%;
    font-size: calc(40px + 5 * (100vw / 1440)/ (1440 - 320));
}

/* Стоячий оператор и тень */

.standing-shade {
    width: calc(200px + 120 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    position: relative;
    margin-right: 5%;
    margin-left: 2%;
}

.stand-cameraman {
    width: 90%;
    margin-bottom: 10px;
    height: auto;
}

.second-shade {
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: -15px;
    z-index: -1;

}

.crane-shade {
    width: calc(150px + 100 * ((100vw - 320px) / (1440 - 320)));
    align-self: center;
    height: auto;
    width: 40%;
    position: relative;
    margin-right: 7%;
    margin-left: 2%;
}

.crane {
    width: 50%;
    height: auto;

}

.last-cameraman {
    margin-top: 5%;
    display: flex;
    position: relative;
}

.last-shade {

    width: 45%;
    position: absolute;
    bottom: -5px;
    left: 20px;
    z-index: -1;

}

.duration {
    display: flex;
    justify-content: space-between;

    margin-top: 2%;
    padding-right: 5%;
}

h3 {
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.duration-text {
    width: 65%;
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));

}

.format {
    margin-top: 5%;
    width: 100%;
    margin-right: 5%;
}

h2 {
    font-size: calc(18px + 10 * ((100vw - 320px) / (1440 - 320)));
    font-family: 'Roboto Slab', serif;
    margin-left: 1%;
}

.blue-color {
    color: #1E4681;
    font-size: calc(12px + 8 * ((100vw - 320px) / (1440 - 320)));
}

.format-about {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    font-size: calc(12px + 8 * ((100vw - 320px) / (1440 - 320)));
}

.webinar,
.access-forever,
.communication {
    width: 25%;
    /* max-width: 450px; */
}

/* Список ЧТО УЗНАЁМ */
.what-list {
    font-size: calc(16px + 10 * ((100vw - 320px) / (1440 - 320)));
    width: 50%;
    margin-bottom: 5%;
}

/* Карточки */
.programm {
    margin-left: 2%;
}

.programm-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1%;
    gap: 3%;
    margin-top: 3%;
    align-items: center;
}

.card {
    width: calc(250px + 130 * ((100vw - 320px) / (1440 - 320)));
}

.coll {
    border-radius: 32px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 3%;
}

h4 {
    font-size: calc(24px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.prog-text {
    padding-left: 15px;
    font-size: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
    margin-top: -3px;
    margin-bottom: -5px;
}

.prog-name-date {
    font-size: calc(16px + 10 * ((100vw - 320px) / (1440 - 320)));
    padding-left: 15px;
}

.no-br {
    margin-bottom: -10px;
}

/* .comment  */
.review-block {
    background: #EFEFEF;
    padding-left: 15%;
    padding-top: 1%;
    margin-bottom: 3%;
    padding-bottom: 2%;
}

.comment {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0.5% 2% 3% 2%;
    width: 60%;
    min-width: 180px;
}

.comment-palexova {
    font-size: calc(12px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.avatar-fb {
    display: flex;
    gap: 3%;
    padding-left: 2%;
}

.avatar-fb img {
    width: calc(20% + 3 * ((100vw - 320px) / (1440 - 320)));

}

p {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.logo-avatar img {
    width: 15%;
}

.avatar {
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

/* Блок с ценой */

.cost-block {
    background: #9DC9C8;
    display: block;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-top: -3%;
}

.cost-weight {
    font-size: calc(50px + 7 * ((100vw - 320px) / (1440 - 320)));

}

.cost-left {
    margin-left: 0;
    margin-right: 2%;
    font-size: calc(40px + 7 * ((100vw - 320px) / (1440 - 320)));
}

.cost-lesson-now {
    display: flex;
    width: 50%;
    gap: 7%;
}


.level-now {
    margin-bottom: 7%;
    font-size: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    width: 65%;
}

/* Footer */

footer {
    background-color: black;
    padding-bottom: 1%;
    margin-bottom: -1%;

}


.logo-list {
    list-style-type: none;
    display: flex;
    gap: 0.5%;
    font-size: calc(10px + 5 * ((100vw - 320px) / (1440 - 320)));
    margin-left: 10%;
}

.logo-list li img {
    width: calc(14px + 7 * ((100vw - 320px) / (1440 - 320)));
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-right: 10%; */
    /* margin-top: -5%; */
    /* gap: 10%;
    width: 100%; */

}

.footer-right {
    margin-right: 6%;
}

.footer-left {
    margin-left: 5%;
}

.sync-white {
    width: calc(70px + 3 * ((100vw - 320px) / (1440 - 320)));
    /* margin-left: 4%; */
    margin-top: -15%;
}

.logo-list {
    margin-left: 0;
    padding-left: 0;
}

.contact-list {
    color: white;
    list-style-type: none;
    font-size: calc(10px + 3 * ((100vw - 320px) / (1440 - 320)));

}

.logo-icon {
    /* margin-left: 5%; */
}

.contact-list img {
    width: calc(17px + 5 * ((100vw - 320px) / (1440 - 320)));
}

li a {
    color: white;
    text-decoration: none;
}

.copyright {
    color: white;
    font-size: calc(10px + 3 * ((100vw - 320px) / (1440 - 320)));
    margin-left: 5%;
}



@media(max-width:726px) {
    .programm-items {
        flex-direction: column;
        gap: 10%;
    }

    .avatar {
        padding-top: 2%;
    }

    .format-about {
        flex-direction: column;

    }



    .webinar,
    .access-forever,
    .communication {
        width: 60%;

    }

    .crane-shade {
        display: none;
    }

    .avatar {
        margin-top: 3%;
    }

    .avatar-fb {
        margin-bottom: 3%;
    }

    .logo-avatar {
        padding-top: 200%;
    }


    .tarkov-box {
        max-width: 65%;
        margin-left: -30%;
    }

    .about {
        flex-direction: column;
    }

    .text {
        width: 80%;
    }

    .duration {
        flex-wrap: wrap;
        margin-top: 5%;
        gap: 3%;
        margin-left: 3%;

    }

    .lessons,
    .hours,
    .weeks {
        width: 35%;
    }

    /* .copyright {

        margin-left: 10%;
        padding-top: 2%;
    } */

    .comment {
        padding-left: 3%;
    }

    /* .logo-icon {
        margin-left: 0%;
    } */

    /* .footer-right {
        margin-left: 0;
    } */
    .footer-flex {
        flex-direction: column;
    }

    .logo-list li img {
        /* width: calc(14px + 7 * ((100vw - 320px) / (1440 - 320))); */
        /* padding-bottom: 50%; */
        /* min-width: 15px; */
    }

    /* .logo-list {
        margin: 0;
        padding-top: 3%;
    } */
    /* 
    .sync-white {
        width: calc(10% + 5 * ((100vw - 320px) / (1440 - 320)));
        margin-left: 10%;
        margin-top: 0;
        min-width: 65px;
    } */

    /* .contact-list {
        padding-top: 5%;
    } */

    /* .footer-left {
        margin-left: 0%;
    } */
}

@media(max-width:1094px) {
    .programm {
        margin-left: 10%;
    }
}